.login{
    padding-top: 65px;
    float: left;
    padding-left: 45px;
    width: 490px;
    box-sizing: border-box;
    position: relative;
}
.part1{
    display:flex;
    align-items: center;
    margin-bottom: 12px;
    padding-left: 45px;
    cursor: pointer;
}
.part2{
   padding-left: 45px;
}
#username{
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ddd;
    color: #aaa;
    font-size: 14px;
    padding: 10px;
    height: 40px;
    vertical-align: middle;
    border-radius: 4px;
}
.clear{
    margin: 6px 0;
    font-size: 12px;
    min-height: 20px;
    line-height: 20px;
    padding: 0;
}
#password{
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ddd;
    color: #aaa;
    font-size: 14px;
    padding: 10px;
    height: 40px;
    vertical-align: middle;
    border-radius: 4px;
}
.part3{
    margin: 10px 0;
    color: #717171;
    width: 410px;
    font-size: 12px;
    padding-left:45px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.part4{
    justify-content: space-between;
    display: flex;
    position:relative;
    padding-left:45px;
}
.DengLu{
    display:inline-block;
    text-decoration: none;  
    background-color: #00a7de;
    border: 1px solid #0381aa;
    color: #fff;
    border-radius: 2px;
    height: 36px;
    width:184px;
    font-size: 14px;
    line-height: 38px;
    text-align:center;
    cursor:pointer;
}
.ZhuCe{
    display:inline-block;
    text-decoration: none;
    left: 350px;
    border: 1px solid #ccc;
    color: #555;
    border-radius: 2px;
    height: 36px;
    width: 184px;
    font-size: 14px;
    line-height:38px;
    text-align:center;
    cursor:pointer;
}
.part5{
    padding: 12px 0;
    font-size: 12px;
    padding-left:45px;
}
.weibo{
    text-decoration: none;
    color: #717171;
    cursor: pointer;
    font-size: 12px;
}
.qq {
    text-decoration: none;
    color: #717171;
    cursor: pointer;
    font-size: 12px;
}